build-tmp
debian/libapache2-mod-fastcgi
debian/libapache2-mod-fastcgi.*
debian/xplainhosting-libapache2-mod-fastcgi.*
debian/xplainhosting-libapache2-mod-fastcgi/*
debian/compat
debian/files
debian/patched/apache2.4-compat.dpatch
debian/patched/doc-misc-typo-fix.dpatch
debian/stamp-patched
